body{
    background-color: #c2c2c2;
}
.btn {
    display: inline-block;
    /*position: absolute;*/
    min-width: 150px;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 0.8125rem;
    border-radius: 0px;
    float: right;
    /*margin-top: 20px;*/
    transition: .5s;
    border: 1px solid #e74c3c;
    font-family: 'open_sansbold';
    padding: 0.8rem 3rem;
    transition: all 0.6s;
    border-radius: 2px;
    cursor: pointer;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.textBtn{
    border: none;
    border-radius: 4px;
    width: 40%;
    position: absolute;
    height: 50px;
}
.btn:hover{
    opacity: 0.5;
}

.resposta{
    padding: 1%;
    background-color: #e74c3c;
    width: 30%;
    position: relative;
    margin-left: 210px;
    height: 100px;
    border-radius: 15px;
    margin-top: -15px;
}

.resposta H3{
  margin-top: -10px;
  margin-left: 135px;
  font-style: normal;
  font-size: 1.3em;
}

.resposta input[type="text"]{
    background-color: #c2c2c2;
    border: none;
    width: 99%;
    height: 30px;
    border-radius: 7px;
    padding: 4px;
    text-align: center;
    font-family: 'open_sansbold';
    font-size: 1.5em;
}


.cadastrar {
    padding: 1%;
    background-color: #e74c3c;
    width: 425px;
    position: relative;
    margin-left: 690px;
    height: 100px;
    border-radius: 15px;
    margin-top: -126px;
}


  .cadastrar h3{
    margin-top: -10px;
    margin-left: 155px;
    font-style: normal;
    font-size: 1.3em;
  }

  .cadastrar input[type='text']{
        background-color: #c2c2c2;
        border: none;
        margin-left: 5px;
        margin-top: 1px;
        width: 96%;
        height: 30px;
        border-radius: 7px;
        padding: 4px;
        text-align: center;
        font-family: 'open_sansbold';
        font-size: 1.5em;
    }

    .resultado input[type="submit"]{
      font-size: 1em;
      width: 140px;
      height: 50px;
    }

#cadastrar123 {
margin-top: 80px;
margin-left: -30px;
background-color: #E74C3C;
cursor: pointer;
}

.btn-lg {
    background: #e74c3c;
    padding: 1.125rem 3rem;
}



.quinaForm{
    width: 100%;
    height: 200px;
}
.quina {
    background-image: url("img/quina.png");
    background-repeat: no-repeat;
    background-size: 80%;
    margin: auto;
    width: 50%;
    height: 400px;
}

.m_t_10 {
    margin-right: 10px;

}



#teste{
    width: 55%;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    background-color: #e74c3c;
    color: #030c01;
    border-radius: 2px;
    text-align: center;
}
